# BEGIN DOTGIT-SYNC BLOCK MANAGED
# Some function below are overloaded or defined in my own direnv stdlib.
# See: https://framagit.org/rdeville-public/dotfiles/direnv/-/blob/main/lib

# Ensure that PWD is absolute without symlink
PWD="$(pwd -P)"

# Allow users to setup their own envrc files
# NB: If my libs are loaded, this function is overloaded with my own which have
# sha computation security and custom logs
if ! source_env_if_exists ".envrc.local"
then
  return 1
fi

# Load .env file if it exists
# NB: If my libs are loaded, this function is overloaded with my own which have
# some custom logs
dotenv_if_exists

# If my libs are loaded, i.e. use_nix_flake and use_devbox functions exists,
# try to use flake.nix devShells
if type use_nix_flake >/dev/null
then
  use_nix_flake
fi

# If my libs are loaded, i.e. use_nix_flake and use_devbox functions exists,
# try to use devbox shell throug devbox.json
if type use_devbox >/dev/null
then
  # Deactivate devbox warning due to this custom .envrc
  DEVBOX_NO_ENVRC_UPDATE=1
  use_devbox
fi

# If my direnv config is loaded, DIRENV_LOG_FORMAT is unset by default as I have
# my own bash logger. Export below reset direnv log to see exported environment
# variables
export DIRENV_LOG_FORMAT="[INFO] direnv: %s"

# vim: ft=bash
# END DOTGIT-SYNC BLOCK MANAGED
